# Dependencies
node_modules

# coverage
/coverage
/coverageEnv
/coverage.json


# build dir
abi
dist
cache
artifacts

# yarn, npm
yarn-error.log
package-lock.json
yarn-error.log

# Misc
.DS_Store
.cache
.env

public/artifact.json
public/manifest.json
public/code.sol